$content-width: 1230px;

$mq-dsktop: "(min-width: 1081px)";
$mq-mobile: "(max-width: 1080px)";
$mq-tiny-landscape: "(max-width: 700px)";
$mq-tiny: "(max-width: 481px)";

$font-base: 'Open sans';

$color-base: #333;

$color-link: #333;
$color-link--hover: #c00;